<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- always put your name in your work -->
    <meta name="author" content="Robert C. Duvall">
    <!-- stop the web browser from ever caching this page or its images -->
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <!-- libraries neded for this page -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>
    <!-- support for this page -->
    <link rel="stylesheet" href="css/list_urls.css">
    <script src="js/vue_example.js" async></script>
    <title>Vue Example</title>
</head>

<body>
    <h1>Reactive Web Pages!</h1>

    <div id="app1">
        <p>Hello {{ name }}!</p>
        <p><button @click="reverseName">Reverse Name</button></p>
        <p><input v-model="name"></p>
        <p>{{ length }}</p>
        <p v-if="showStatus">{{ status }}</p>
    </div>

    <hr>
    <div id="app2">
        <p>Hello {{ name }}!</p>
        <p><button @click="reverseName">Reverse Name</button></p>
        <p><input v-model="name"></p>
        <p>{{ length }}</p>
        <p v-if="showStatus">{{ status }}</p>
    </div>

</body>
</html>
